<title>{{ site.Title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="{{ page.theme_color | default: '#ff5722' }}">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/w3.css">
<link rel="shortcut icon" href="{{ site.baseurl }}{{ site.favicon }}" type="image/x-icon">
<link rel="stylesheet" href="{{ site.baseurl }}/fonts/css/fontawesome-all.min.css">
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
{% if page.prism == true %}
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/prism.css">
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/prism.js"></script>
{% else %}
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/syntax_highlight.css">
{% endif %}
{% if page.MathJax == true %}
<script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}
<script type="text/javascript"> var infolinks_pid = 3120197; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
