<!DOCTYPE html>
<html lang="ml">
  <head>
    {% include head.html %}
    </head>
  <body>
    {% include navbar.html %}
    {% include header.html %}
<div class="w3-row-padding w3-padding-64 w3-container" style="margin-top: 75px">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 class="w3-text-{{ page.color | default: 'deep-orange' }}">{{ page.title }}</h1>
      <article id="artLink">
          {{ content }}
      </article>
    </div>
    <div class="w3-third w3-container w3-content w3-hide-small">
      {% include about_me.html %}
    </div>
  </div>
</div>
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/super-search.min.js"></script>
    <script type="text/javascript">
      var infolinks_pid = 3120197;
      var infolinks_wsid = 0;
    </script>
    <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
    <div id="p_1914453"></div><script async="async" data-cfasync="false" src="//native.propellerads.com/1?z=1914453&eid=p_1914453"></script>
</body>
  </html>
