<!DOCTYPE html>
<html lang="ml">
  <head>
    {% include head.html %}
    </head>
  <body>
    {% include navbar.html %}
    {% include header.html %}
<div class="w3-row-padding w3-padding-64 w3-container" style="margin-top: 75px">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 class="w3-text-{{ page.color | default: 'deep-orange' }}">{{ page.title }}</h1>
      <article id="artLink">
          {{ content }}
      </article>
      <!-- propeller ad -->
      <!-- <div id="p_1914453"></div><script async="async" data-cfasync="false" src="//native.propellerads.com/1?z=1914453&eid=p_1914453"></script> -->
   <!-- adstir start -->
      <div id="ad_area_1">
  <!-- AdStir -->
  <script type="text/javascript">
    var adstir_vars = {
      ver: "4.0",
      app_id : "188700",
      ad_spot: 1,
    };
  </script>
  <script type="text/javascript" src="http://js.ad-stir.com/js/adstir.js?20130527"></script>
  <!-- closed -->
</div>
    </div>
    <div class="w3-third w3-container w3-content w3-hide-small">
      {% include about_me.html %}
    </div>
  </div>
</div>
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/super-search.min.js"></script>
</body>
  </html>
